@model IEnumerable<GAIS.Models.DetailPeminjaman>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                    <ol class="breadcrumb gais-breadcrumb" style="background-color: #fff">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Admin</li>
                        <li class="breadcrumb-item">Peminjaman</li>
                        <li class="breadcrumb-item text-blue">Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid mt-4">
    <div class="card mb-4">
        <div class="card-header text-secondary" style="font-size: 1.1rem; ">
            Detail Peminjaman
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-sm-12 col-md-6">
                    <a onclick="history.back()" class="btn btn-outline-secondary">Back to list</a>
                </div>
            </div>
            <div class="datatable">
                <table class="table table-hover table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-secondary">
                            <th>No</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Broken</th>
                            @if (ViewBag.Role == "GA")
                            {
                                <th>Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{int numRow = 0;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(numRow += 1)</td>
                                <td>@Html.DisplayFor(modelItem => item.BarangPerusahaan.NamaBarang)</td>
                                <td>@Html.DisplayFor(modelItem => item.Kuantitas)</td>
                                <td>@Html.DisplayFor(modelItem => item.HargaBarang)</td>
                                @if (item.Kondisi_Rusak == null)
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@Html.DisplayFor(modelItem => item.Kondisi_Rusak)</td>
                                }
                                @if (ViewBag.Role == "GA")
                                {
                                    <td><a href="~/Peminjaman/ChangesItem/?ID=@item.ID_Peminjaman&Item=@item.ID_Barang" data-toggle="tooltip" title="Edit" class="btn btn-datatable btn-icon btn-transparent-dark mr-2" te><i data-feather="edit"></i></a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>