@model IEnumerable<GAIS.Models.BarangPerusahaan>

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <ol class="breadcrumb gais-breadcrumb" style="background-color: #fff">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item text-blue">Form Peminjaman</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header">Daftar Barang</div>
                <div class="card-body">
                    <div class="datatable">
                        <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Barang</th>
                                    <th>Deskripsi</th>
                                    <th>Kategori</th>
                                    <th>Stok</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int numRow = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(numRow += 1)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NamaBarang)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Keterangan)</td>
                                        <td>@Html.DisplayFor(modelItem => item.JenisBarang.Nama)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Stok)</td>
                                        <td>
                                            <a href="~/Peminjaman/Add/@Html.DisplayFor(modelItem => item.ID)" data-toggle="tooltip" title="Tambah Barang Ke Keranjang" class="btn btn-datatable btn-icon btn-transparent-dark mr-2" te><i data-feather="plus"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Keranjang Barang</div>
                <div class="card-body">
                    <div class="form-group">
                        <a href="~/Peminjaman/Submit" class="btn btn-outline-secondary">Selanjutnya</a>
                    </div>
                    <div class="datatable">
                        <table class="table table-hover" width="100%" cellspacing="0">
                            <thead>
                                <tr class="text-secondary">
                                    <th>Nama Barang</th>
                                    <th>Stok</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Cart)
                                {
                                    <tr>
                                        <td>@item.BarangPerusahaan.NamaBarang</td>
                                        <td>@item.Qyt</td>
                                        <td>
                                            <a href="~/Peminjaman/Plus/@item.ID_Barang" data-toggle="tooltip" title="Tambah Kuantitas" class="btn btn-datatable btn-icon btn-transparent-dark mr-2" te><i data-feather="plus"></i></a>
                                            <a href="~/Peminjaman/Minus/@item.ID_Barang" data-toggle="tooltip" title="Kurang Kuantitas" class="btn btn-datatable btn-icon btn-transparent-dark mr-2" te><i data-feather="minus"></i></a>
                                            <a href="~/Peminjaman/Delete/@item.ID_Barang" data-toggle="tooltip" title="Hapus Barang Dari Keranjang" class="btn btn-datatable btn-icon btn-transparent-dark mr-2" te><i data-feather="trash-2"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>