@model IEnumerable<GAIS.Models.Pengajuan>

@{
    ViewBag.Title = "LaporanPengajuan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>LaporanPengajuan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_GA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tgl_Pengajuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalHarga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPengajuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SudahDibayar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_GA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tgl_Pengajuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalHarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusPengajuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SudahDibayar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Pengajuan }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Pengajuan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Pengajuan })
        </td>
    </tr>
}

</table>

<div class="form-group">
    <a href="@Url.Action("Report", new { id = "PDF"})">Get Report PDF</a>
    <a href="@Url.Action("Report", new { id = "Excel"})">Get Report Excel</a>
    <a href="@Url.Action("Report", new { id = "Word"})">Get Report Word</a>
    <a href="@Url.Action("Report", new { id = "Image"})">Get Report Image</a>
</div>
