@model IEnumerable<GAIS.Models.DetailPengajuan>

@{
    ViewBag.Title = "Pemesanan";
    Layout = "~/Views/Shared/_LayoutVendor.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <ol class="breadcrumb gais-breadcrumb" style="background-color: #fff">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item text-blue">Pemesanan</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid mt-4">
    <h2 class="page-header-title pb-3">
        @ViewBag.Title
    </h2>
    <div class="card mb-4">
        <div class="card-body">
            <div class="datatable">
                <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">ID Transaksi</th>
                            <th class="text-center">Nama Barang</th>
                            <th class="text-center">Vendor</th>
                            <th class="text-center">Kuantitas</th>
                            <th class="text-center">Harga</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int numRow = 0;}
                        @foreach (var item in Model)
                        {
                           
                               
                                    <tr>
                                        <td>@item.ID_Pengajuan</td>
                                        <td>@Html.DisplayFor(modelItem => item.BarangVendor.NamaBarang)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Vendor.NamaVendor)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Kuantitas)</td>
                                        <td class="text-right">Rp @string.Format("{0:N}", (item.HargaBarang))</td>
                                        <td class="text-right">Rp @string.Format("{0:N}", (item.HargaBarang * item.Kuantitas))</td>
                                        <td>@item.StatusBarang</td>
                                        <td>
                                            <a href="~/Pengajuan/KonfirmasiPengiriman/?ID=@item.ID_Pengajuan&Item=@item.ID_Barang" data-toggle="tooltip" title="Konfirmasi Barang Telah Dikirim" class="btn btn-datatable btn-icon btn-transparent-dark mr-2" te><i class="fas fa-fw fa-paper-plane"></i></a>
                                        </td>
                                    </tr>
                                
                            
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>