@model GAIS.Models.Karyawan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <ol class="breadcrumb gais-breadcrumb" style="background-color: #fff">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Karyawan</li>
                        <li class="breadcrumb-item text-blue">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>
@using (Html.BeginForm("Create", "Karyawan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="card-header title-card">Form Karyawan</div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.NamaKaryawan)<span style="color: red">*</span></label>
                    @Html.EditorFor(model => model.NamaKaryawan, new { htmlAttributes = new { @class = "form-control", placeholder = "Masukkan Nama Karyawan" } })
                    @Html.ValidationMessageFor(model => model.NamaKaryawan, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.JenisKelamin)<span style="color: red">*</span></label>
                    @Html.DropDownListFor(model => model.JenisKelamin, (SelectList)ViewBag.Jenis_Kelamin, "Pilih Jenis Kelamin", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.TanggalLahir)<span style="color: red">*</span></label>
                    @Html.EditorFor(model => model.TanggalLahir, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TanggalLahir, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Alamat)<span style="color: red">*</span></label>
                    @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control", placeholder = "Masukkan Alamat" } })
                    @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Email)<span style="color: red">*</span></label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Masukkan Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.NoTelp)<span style="color: red">*</span></label>
                    @Html.EditorFor(model => model.NoTelp, new { htmlAttributes = new { @class = "form-control", placeholder = "Masukkan Telepon" } })
                    @Html.ValidationMessageFor(model => model.NoTelp, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.ID_Role)<span style="color: red">*</span></label>
                    @Html.DropDownListFor(model => model.ID_Role, (SelectList)ViewBag.ID_Role, "Pilih Role", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_Role, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.ID_Seksi)<span style="color: red">*</span></label>
                    @Html.DropDownListFor(model => model.ID_Seksi, (SelectList)ViewBag.ID_Section, "Pilih Section", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_Seksi, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label class="control-label">Profile Picture<span style="color: red">*</span></label>
                    <div class="custom-file">
                        <label class="custom-file-label" for="File">Choose File</label>
                        <input class="custom-file-input" id="File" name="File" type="file" accept=".jpg,.jpeg,.png" />
                        <span class="text-danger small field-validation-error">@ViewBag.PesanValidasi</span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Simpan" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "Karyawan")" class="btn btn-outline-primary">Kembali</a>
                </div>
            </div>
        </div>
    </div>
}