@model IEnumerable<GAIS.Models.Karyawan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <ol class="breadcrumb gais-breadcrumb" style="background-color: #fff">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Karyawan</li>
                        <li class="breadcrumb-item text-blue">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid mt-4">
    <div class="card mb-4">
        <div class="card-header" style="font-size: 1.1rem; ">
            DataTable Karyawan
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-sm-12 col-md-6">
                    <a href="~/Karyawan/Create" class="btn btn-primary">Add New</a>
                </div>
            </div>
            <div class="datatable">
                <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">No</th>
                            <td class="text-center">@Html.DisplayNameFor(model => model.NPK)</td>
                            <td class="text-center">@Html.DisplayNameFor(model => model.NamaKaryawan)</td>
                            <td class="text-center">@Html.DisplayNameFor(model => model.JenisKelamin)</td>
                            <td class="text-center">@Html.DisplayNameFor(model => model.Email)</td>
                            <td class="text-center">@Html.DisplayNameFor(model => model.NoTelp)</td>
                            <td class="text-center">@Html.DisplayNameFor(model => model.ID_Role)</td>
                            <th class="text-center">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int numRow = 0;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@(numRow += 1)</td>
                            <td>@Html.DisplayFor(modelItem => item.NPK)</td>
                            <td>@Html.DisplayFor(modelItem => item.NamaKaryawan)</td>
                            @if (item.JenisKelamin == "L")
                            { 
                                <td>Laki-Laki</td>
                            }
                            else
                            {
                                <td>Perempuan</td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.NoTelp)</td>
                            <td>@Html.DisplayFor(modelItem => item.Role.NamaRole)</td>
                            <td class="text-center">
                                <a href="~/Karyawan/Details/@Html.DisplayFor(modelItem => item.NPK)" data-toggle="tooltip" title="Details" class="btn btn-datatable btn-icon btn-transparent-dark mr-2" te><i data-feather="list"></i></a>
                                <a href="~/Karyawan/Edit/@Html.DisplayFor(modelItem => item.NPK)" data-toggle="tooltip" title="Edit" class="btn btn-datatable btn-icon btn-transparent-dark mr-2" te><i data-feather="edit"></i></a>
                                <a onClick="return confirm('Yakin akan dihapus?');" href="~/Karyawan/Delete/@Html.DisplayFor(modelItem => item.NPK)" data-toggle="tooltip" title="Delete" class="btn btn-datatable btn-icon btn-transparent-dark mr-2" te><i data-feather="trash-2"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>