@model GAIS.Models.JenisBank

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <ol class="breadcrumb gais-breadcrumb" style="background-color: #fff">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Jenis Bank</li>
                        <li class="breadcrumb-item text-blue">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header" style="font-size: 1.1rem;">
            Details Bank
        </div>
        <div class="card-body">
            <table class="table table-hover" width="100%" cellspacing="0">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Nama)</td>
                        <td>@Html.DisplayFor(model => model.Nama)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Keterangan)</td>
                        <td>@Html.DisplayFor(model => model.Keterangan)</td>
                    </tr>
                    <tr>
                        <td>Created</td>
                        <td>@Html.DisplayFor(model => model.CreatedTime)</td>
                    </tr>
                    <tr>
                        <td>Modified</td>
                        <td>@Html.DisplayFor(model => model.LastModifiedTime)</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <a href="~/JenisBank" class="btn btn-outline-primary">Back to List</a>
            </div>
        </div>
    </div>
</div>