@model GAIS.Models.Karyawan

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header>
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->
</header>
<!-- Main page content-->
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="/assets/img/upload/@Model.Foto" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h4>@Html.DisplayFor(model => model.NamaKaryawan)</h4>
                            <!-- <p class="text-secondary mb-1">@Html.DisplayFor(model => model.Role.NamaRole)</p> -->
                            <p class="font-size-sm">Bergabung sejak @string.Format("{0:dd-MM-yyyy}", Model.CreatedTime)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Nama Lengkap</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.NamaKaryawan)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Jenis Kelamin</h6>
                        </div>
                        @if (Model.JenisKelamin == "L")
                        {
                            <div class="col-sm-9 text-secondary">
                                Laki-Laki
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-9 text-secondary">
                                Perempuan
                            </div>
                        }
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Tanggal Lahir</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.TanggalLahir)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Alamat</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.Alamat)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Telepon</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.NoTelp)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Role</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.Role.NamaRole)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Section</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.Section.NamaSection)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>